﻿@model WebApplication2.Models.Licz
@{
    ViewBag.Title = "Fizz or Buzz";
}

<div>
    @using (Html.BeginForm("Count", "FizzBuzz"))
    {
        @Html.EditorFor(model => Model.liczba)
        <input type="submit" value="Odpowiedz" />
    }

</div>